

.App {
   background-image: url("https://images.unsplash.com/photo-1533563906091-fdfdffc3e3c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  

  text-align: center; 
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

}

.movie-details{
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}


.movie-summary{
  display: flex;
  color: beige;
  text-align: justify;
 position: relative;
 left: 60px;
  width: 380px;
}

.movie-pic{
  width: 375px;
  margin: 15px;
  border: 10px solid gold;
  transition-duration: .4s;
  border-radius: 25px;
}
.movie-pic:hover{
  cursor: pointer;          
  width: 450px;
  text-align: center;
  border: 5px solid gold;
  transition-duration: .4s;
 }

 .movie-pic:active{
       cursor: auto;
 }

.movie-name{
  color: beige;
}